  <div class= "col-xs-4">
    <%=@sock.name %><br>
    <%=image_tag(@sock.img_url, class: "img-responsive")%><br>
    Material: <%=@sock.material%><br>
    $<%=@sock.price%>
    <br>
    <%= link_to "Add to Cart!", new_item_path(id:@sock.id), class:"btn btn-warning btn-sm"%>
  </div>
