<h2 class = "page-title">Sock it to me!</h2>
<div class="row" id="socks">
  <%@socks.each do |s|%>
    <div class= "col-xs-3">
      <div id="each-item">
        <%=link_to s do %><br>
        <h4><%= s.name %></h4><br>
        <%=image_tag(s.type, class: "img-responsive")%><br>
        <% end %>
        <h5>Material: <%=s.material%><br>
        $<%=s.price%>0 </h5><br>
        <%= bootstrap_form_for(@item) do |f| %>
          <%= f.hidden_field :quantity, :value => 1 %>
          <%= f.hidden_field :sock_id, :value => s.id %>
          <%= f.primary "Add to Cart"%>
        <%if current_user && current_user.name == "admin"%>
          <%= link_to "Destroy", sock_path(id:s.id), method: :delete, class:"btn btn-warning btn-sm"%>
        <%end%>
      </div>
    </div>
    <%end%>
</div>
