<h2 class = "page-title">Sock it to me!</h2>
<div class="row">
  <%@socks.each do |s|%>
    <div class= "col-xs-3">
      <%=link_to s do %><br>
      <h4><%= s.name %></h4><br>
      <%=image_tag(s.img_url, class: "img-responsive")%><br>
      <% end %>
      <h5>Material: <%=s.material%><br>
      $<%=s.price%>0 </h5><br>
      <%= link_to "Add to Cart!", new_item_path(id:s.id), class:"btn btn-warning btn-sm"%>
      <%if current_user && current_user.name == "admin"%>
        <%= link_to "Destroy", sock_path(id:s.id), method: :delete, class:"btn btn-warning btn-sm"%>
      <%end%>
    </div>
    <%end%>
</div>
