<div class= "col-xs-offset-3">
  <h2><%=@sock.name %><br></h2>
  <div class = "col-xs-4">
  <%=image_tag(@sock.img_url, class: "img-responsive")%><br>
</div>
<div class = "col-xs-5 sock-info">
  <div class = "sock-info-detail">
  <h3>$<%=@sock.price%>0</h3><br>
  <h4>Material: <%=@sock.material.capitalize%><br>
  Style: <%= @sock.style.capitalize %><br>
  Color: <%= @sock.color.capitalize %><br>
  Size: <%= @sock.size.capitalize %><br>
  </h4><br>
  Socks remaining in stock: <%= @sock.inventory %><br><br>
</div>
<div class = "addtocardbutton">
  <%= link_to "Add to Cart!", new_item_path(id:@sock.id), class:"btn btn-warning btn-sm"%>
</div>
</div>
</div>
