<%= form_for(@user_session, remote: true) do |f| %>
<% if @user_session.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user_session.errors.count, "error") %> prohibited this user from being saved:</h2>

    <ul>
    <% @user_session.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<div class= "form-group">
<%= f.email_field :email, :placeholder => "Type your email..." %><br />
<br />
<%= f.label :password %>
<%= f.password_field :password, :placeholder => "Type your password..." %><br />
<br />
</div>
<%= f.submit :SignIn, class:'btn btn-success' %>
<% end %>
