
<div class="container-fluid">
  <div class="row">
    <h1 class="text-center"> Shopping Cart </h1>
  </div>
  <% @items.each do |i| %>
  <div class="row item-row">
    <div class="col-xs-1">
      <%=image_tag(i.sock.img_url, class:"img-responsive center-block cart-images") %>
    </div>
    <div class="col-xs-2">
      <div class="col-xs-10 col-xs-offset-1">
        <p>Name: <%= i.sock.name %></p>
      </div>
      <div class="col-xs-10 col-xs-offset-1">
        <p>Material: <%=i.sock.material%></p>
      </div>
    </div>
    <div class="col-xs-2">
      <p>Price: <%=number_to_currency(i.sock.price)%></p>
    </div>
    <div class="col-xs-2">
      <p>Quantity: <%=i.quantity%></p>
    </div>
    <div class="col-xs-2">
      <p>Item Total: <%=number_to_currency(i.sock.price * i.quantity) %></p>
    </div>
    <div class="col-xs-1">
      <%= link_to "Remove", i , method: :delete, class:"btn-sm btn-primary center-block" %>
    </div>
    <div class="col-xs-1">
      <%= link_to "Update", edit_item_path(id:i.id), class:"btn-sm btn-warning center-block" %>
    </div>
  </div>
  <% end %>
  <div class="row total-row">
    <div class="col-xs-2 col-xs-offset-8">
      <p>Your Total: <%= number_to_currency(@cart.price/100.to_f) %> </p>
    </div>
    <div class="col-xs-2">
      <%= render 'payola/transactions/checkout', sellable: @cart %>
    </div>
  </div>

</div>
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
  Stripe.setPublishableKey('pk_test_ghaAUv2tNxAWWpzK70x8bGcx');
</script>
