<div class= "signin">
  <% if current_user %>
      <span>Welcome, <%= current_user.name.titleize %>!</span>
      <%= link_to "Log Out", user_session_path(current_user),method: :delete, :class => "btn btn-medium btn-primary" %>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#feedbackModal">
        Feedback
      </button>
      <%= link_to(@cart, class:"btn btn-primary btn-medium") do %>
        <span class="glyphicon glyphicon-shopping-cart"></span>
      <% end %>

      <% if current_user.name == "admin"%>
        <%= link_to "+ SOCK", "", class: "btn btn-warning btn-medium", "data-toggle" => "modal", "data-target" => "#add-sock-modal"%>
      <%end%>
  <% else %>
      <button type="button" class="btn btn-primary btn-medium sign_up_button" data-toggle="modal" data-target="#new_user">Create an Account</button>
      <button type="button" class="btn btn-primary btn-medium sign_in_button" data-toggle="modal" data-target="#sign_in">Sign In</button>
      <%= link_to(@cart, class:"btn btn-primary btn-medium") do %>
        <span class="glyphicon glyphicon-shopping-cart"></span>
      <% end %>
  <% end %>
  </div>



  <!-- Modal -->
  <div class="modal fade" id="feedbackModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="feedbackModalLabel">Submit feedback</h4>
        </div>
        <div class="modal-body">
          <%= render partial: "shared/feedback_form" %>
        </div>
      </div>
    </div>
  </div>
