<!DOCTYPE html>
<html>
<head>
  <title>SockORama</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class = "container">
    <div class = "jumbotron">
        <%=button_to "Login", "btn btn-primary btn-lg"%>
        <h1>Holy Socks, Batman!</h5>

        </div>
      </div>

<%= yield %>

</body>
</html>
