<!DOCTYPE html>
<html>
<head>
  <title>SockORama</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'payola/transactions/stripe_header' %>
</head>
<body>

    <div class = "jumbotron">
      <div class = "container">
        <div class="row navbar">
          <%= render partial: 'user_sessions/navbar'%>
        </div>
        <h1 id="site-title"><%=link_to "Sock-O-Rama!", root_url, id: "site-title"%></h1>
        <h5 id="site-subtitle">The one-stop online shop for cozy, cool feet fashion since 2015!</h5>
      </div>
    </div>


<div class = "container">
<%= yield %>
</div>
<div class="modal fade" id="new_user" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Sign Up</h4>
      </div>
      <div class="modal-body" id= "signup_form">
        <%= render partial: 'users/form' %>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="sign_in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Sign In</h4>
      </div>
      <div class="modal-body" id = "signin_form">
        <%= render partial: 'users/form_sign_in' %>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="sock-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Sock </h4>
      </div>
      <div class="modal-body" id = "sock-modal-body">

      </div>
    </div>
  </div>
</div>

<%= render "socks/add_form" %>


</body>
<footer id="footer">
  Sock-O-Rama™ | All Rights Reserved | ©2015 | Proud <%link_to "Iron Yard","http://theironyard.com/locations/indianapolis/", :target => "_blank"%> website.
</footer>
</html>
