<!DOCTYPE html>
<html>
<head>
  <title>SockORama</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class = "container">
    <div class = "jumbotron">
      <!-- NEEDS LINKED TO LOGIN -->
      <%=button_to "Login", class: "btn btn-primary btn-lg"%>

      <!--ONlY FOR ADMIN-->
      <div class="nav-right">
      <%=button_to "+ Sock", new_sock_path, class: "btn btn-primary btn-sm"%>
      </div>

      <h1 id="site-title"><%=link_to "Sock-O-Rama!", root_url%></h5>


    </div>
  </div>

<div class = "container">
<%= yield %>
</div>
</body>
</html>
