<!DOCTYPE html>
<html>
<head>
  <title>SockORama</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <div class = "jumbotron">
      <div class = "container">
        <div class="row navbar">
          <%= render partial: 'user_sessions/navbar'%>
        </div>
      <!--ONlY FOR ADMIN-->
        <div class="nav-right">
          <%= link_to "+ SOCK", "", class: "btn btn-warning btn-sm", "data-toggle" => "modal", "data-target" => "#add-sock-modal"%>
        </div>

      <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#feedbackModal">
        Feedback
        </button>
      </div>
        <h1 id="site-title"><%=link_to "Sock-O-Rama!", root_url%></h5>
    </div>


<div class = "container">
<%= yield %>
</div>
<div class="modal fade" id="new_user" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Sign Up</h4>
      </div>
      <div class="modal-body" id= "signup_form">
        <%= render partial: 'users/form' %>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="sign_in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Sign In</h4>
      </div>
      <div class="modal-body" id = "signin_form">
        <%= render partial: 'users/form_sign_in' %>
      </div>
    </div>
  </div>
</div>

<%= render "socks/add_form" %>


<!-- Modal -->
<div class="modal fade" id="feedbackModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="feedbackModalLabel">Submit feedback</h4>
      </div>
      <div class="modal-body">
        <%= render partial: "shared/feedback_form" %>
      </div>
    </div>
  </div>
</div>

</body>
</html>
